<div class="container">
	<div class="row">
		<div>
			<h2>注文情報確認</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<table class="table table-inverse table-bordered">
				<thead>
					<tr class="active">
						<th class="col-xs-6">商品</th>
						<th class="col-xs-2">単価（税込）</th>
						<th class="col-xs-2">数量</th>
						<th class="col-xs-2">小計</th>
					</tr>
				</thead>
				<tbody>

					<% current_customer.carts.each do |cart| %>
					<tr>
			            <td>
							<%= attachment_image_tag(cart.product, :image,:fill, 40, 40, fallback: "no_image.jpg") %>
							<%= cart.product.name %>
						</td>
			            <td>
			            	<% unit_price = cart.product.price * Constants::TAX_RATE %>
			            	<%= (unit_price.round).to_s(:delimited) %>
			            </td>
			            <td><%= cart.product_quantity %></td>
			            <td>
			            	<% sub_total = (unit_price * cart.product_quantity).round %>
			            	<%= sub_total.to_s(:delimited) %>
			            </td>
			        </tr>
			        <% end %>
		        </tbody>
		    </table>
		</div>
		<div class="col-xs-3">
			<table class="table table-inverse table-bordered">
				<tbody>
					<tr>
						<td class="active">送料</td>
						<td><%= (Constants::POSTAGE).to_s(:delimited) %></td>
					</tr>
					<tr>
						<td class="active col-xs-4">商品合計</td>
						<td>
							<% total_fee = 0 %>
							<% current_customer.carts.each do |cart| %>
								<% unit_price = (cart.product.price * Constants::TAX_RATE).round %>
								<% sub_total = unit_price * cart.product_quantity %>
								<% total_fee += sub_total %>
							<% end%>
								<%= total_fee.to_s(:delimited) %>
						</td>
					</tr>
					<tr>
						<td class="active">請求金額</td>
						<td>
							<%= (total_fee + Constants::POSTAGE).to_s(:delimited) %>
						</td>
					</tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<div class="row">
		<div>
			<table class="table">
				<tbody>
					<tr>
						<td>お支払い方法</td>
						<td><%= @order.payment %></td>
					</tr>
					<tr>
						<td>お届け先</td>
						<td>
							<%= @order.postcode+" "+@order.address %><br>
							<%= @order.name %>
						</td>
					</tr>
		        </tbody>
		    </table>
		</div>
	</div>
	<div class="row">
		<%= form_for @order do |f| %>
				<%= f.hidden_field :customer_id %>
				<%= f.hidden_field :payment %>
				<%= f.hidden_field :postcode %>
				<%= f.hidden_field :address %>
				<%= f.hidden_field :name %>
				<%= f.hidden_field :postage %>
				<%= f.submit '購入を確定する', :class => 'btn btn-primary col-xs-4 col-xs-offset-4'%>
		<% end %>
	<div>
</div>