<div data-turbolinks="false">
	<div class="row">
		<div class="row">
			<h3>注文履歴一覧</h3>
		</div>
		<div class="row">
			<table class="table table-hover table-inverse table-bordered">
				<thead>
					<tr class="active">
						<th>購入日時</th>
						<th>購入者</th>
						<th>注文個数</th>
						<th>注文ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td class="vertical-center">
							<%= link_to admin_order_path(order) do %>
								<div>
									<%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
								</div>
			 				<% end %>
						</td>
						<td class="vertical-center">
							<%= link_to admin_order_path(order) do %>
								<div>
									<%= order.customer.last_name + order.customer.first_name %>
								</div>
			 				<% end %>
						</td>
						<td class="vertical-center">
							<%= link_to admin_order_path(order) do %>
								<div>
									<%= order.order_products.all.sum(:product_quantity) %>
								</div>
			 				<% end %>
						</td>
						<td class="vertical-center">
							<%= link_to admin_order_path(order) do %>
								<div>
									<%= order.order_status %>
								</div>
			 				<% end %>
						</td>
					</tr>
					<% end %>
		        </tbody>
		    </table>
		</div>
	</div>
</div>