<div class="container">
	 <div class="row">
	 	  <h2>商品一覧</h2>
	 	<div class="col-sm-8 col-md-offset-2">

	    <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

	 		<tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= link_to product.name, product_path(product.id) %></td>
              <td><%= product.price %></td>
              <td><%= product.genre.id %></td>
              <td><%= product.sale_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

	 	</div>
        <div class="col-md-2"></div>
     </div>

     <%= paginate @products, class: "paginate" %>
</div>