<div class="container">
	 <div class="row">
	 		<h2>商品詳細</h2>
	 	<div class="col-md-2">
			<th></th>
		</div>
	 	<div class="col-md-4">
	    	<tr><%= attachment_image_tag @product, :image, :fill, 280, 210, format: 'jpeg' %></tr>
	 	</div>
	    <div class="col-md-4">
	    	<table class="table table-bordered">
	    		<h3>商品名　<%= @product.name %></h3>
	    		<h3>商品説明　<%= @product.caption %></h3>
	    		<h3>ジャンル　<%= @product.genre.name %></h3>
	    		<h3>税抜き価格　<%= @product.price %></h3>
	    		<h3>販売ステータス　<%= @product.sale_status %></h3>
	    	</table>
	    </div>
        </div>

        <div class="row">
        <div class="col-md-offset-9">
	 		<p><%= link_to "編集", edit_admin_product_path(@product.id), class: "btn btn-primary" %></p>
	 	</div>
	 </div>
</div>