<!DOCTYPE html>

<html>

    <head>
        <title>Nagano Cake</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- 非同期通信を行うためのファイル指定 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript"></script>
    </head>


    <body>
        <header class="navbar">
            <div class="container">


                <nav class="nav navbar-nav navbar-left">
                    <div class="logo">
                        <%= link_to 'Nagano Cake',root_path %>
                    </div>
                </nav>


                <nav>
                    <ul class="nav navbar-nav navbar-right text-color">
                        <% if customer_signed_in? %>
                            <li>ようこそ、<%= current_customer.full_name %>さん！</li>
                            <li><%= link_to ' マイページ', customer_path(current_customer) %></li>
                            <li><%= link_to ' 商品一覧', products_path %></li>
                            <li><%= link_to ' カート', carts_path %></li>
                            <li><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete %></li>
                        <% elsif admin_signed_in? %>
                            <li><%= link_to ' 商品一覧', admin_products_path %></li>
                            <li><%= link_to ' 会員一覧', admin_customers_path %></li>
                            <li><%= link_to ' 注文履歴一覧', admin_orders_path %></li>
                            <li><%= link_to ' ジャンル一覧', admin_genres_path %></li>
                            <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to ' About', about_path %></li>
                            <li><%= link_to ' 商品一覧', products_path %></li>
                            <li><%= link_to ' 新規登録', new_customer_registration_path %></li>
                            <li><%= link_to ' ログイン', new_customer_session_path %></li>
                        <% end %>
                    </ul>
                </nav>


            </div>
        </header>


        <div class="container">

        <!-- エラーメッセージの表示 -->
        <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice]%></div>
        <% elsif flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

　　　　　　　<div class= "container">
                <%= yield %>
            </div>

        </div>


    </body>
</html>
